:root{
    background-color: rgb(233, 233, 233);
}

.header{
    position:fixed;
    top:0;
    left: 0;
    width: 100%;
    Height: 75px;
    background: rgb(50, 50, 50);
    backdrop-filter: blur(10px);
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 5;
}

.header nav{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333333;
}

.header nav a {
    font-family: "Italianno", cursive;
    border:2px solid rgb(255, 215, 0);
    word-spacing: 5px;
    float:right;
    display: block;
    color: rgb(255, 215, 0);
    text-align: center;
    text-decoration: none;
    padding-right:50px;
    padding-left:50px;
    font-size: 40px;
    margin-right: 50px;
}

.header nav a:hover{
    background-color: #000000;
    border:2px solid rgb(230, 196, 0);
}

.logo img{
    padding-left: 50px;
    Height: 65px;
}

.nicebox{
    position:relative;
    max-width: 1000px;
    text-align: center;
    margin: auto;
    background: white;
    padding: 20px;
    border-radius: 30px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    outline: 2px solid rgb(255, 215, 0);
    outline-offset: -12px;
}

.nicebox .fontplz{
    font-family: "Italianno", cursive;
}

.nicebox img{
    border-radius: 15px;
    box-shadow: 0 4px 8px 2px rgba(0,0,0,0.3);
}

.contactsNlegal{
    font-size: 14px;
    color:#575757;
    text-align: center;
    list-style-position: inside;
}

/* index.html */

.opener{
    max-width: 900px;
    margin: auto;
    background: rgb(53, 53, 53);
    border-radius: 30px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
}
.opener h1{
    font-family: "Italianno", cursive;
    font-size: 85px;
    color: rgb(255, 215, 0);
    text-align: center;
    outline: 2px solid rgb(255, 215, 0);
    outline-offset: -12px;
}

.options{
    color: rgb(255, 255, 255);
    display: flex;
    letter-spacing: 5px;
    justify-content: center;
    cursor: pointer;
}

.options a{
    position: relative;
    display: inline-block;
    margin: 5px;  
}

.options img{
    width: 300px;
    height: 200px;
    transition: 0.5s ease;
    display: block;
    backface-visibility: hidden;
}

.info{
    transition: 0.5s ease;
    opacity:0;
    position: absolute;
    text-align: center;
    display: inline-block;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%)

}

.info p{
    color:#000000;
    display: inline-block;
    letter-spacing: normal;
    word-spacing: normal;
}

.text {
    color: rgb(255, 215, 0);
    background-color: #333333;
    font-size: 16px;
    outline: 2px solid rgb(255, 215, 0);
    outline-offset: -3px;
}

.options a:hover .image {
    opacity: 0.3;
}

.options a:hover .info{
    opacity:1;
}


.nicebox .TopAuth .bx{
    font-size: 24px;
    color: black;
    position: absolute;
    left: 20px;
}

.nicebox .auth{
    font-family: "Italianno", cursive;
    font-size: 55px;
}

.nicebox .AuthLog input[type="submit"]{
    background: rgb(255, 215, 0);
    outline: 2px solid rgb(0, 0, 0);
    outline-offset: -4px;
    word-spacing: 5px;
    color: rgb(0, 0, 0);
    padding:5px 35px;
    text-align: center;
    font-family: "Italianno", cursive, bold;
    font-size: 25px;
    cursor: pointer;
}

.nicebox .AuthLog input[type="submit"]:hover{
    background: rgb(230, 196, 0);
}

.nicebox .AuthLog input[type="text"], .nicebox .AuthLog input[type="email"], .nicebox .AuthLog input[type="password"]{
    width: 300px; 
    box-sizing: border-box;
}

.nicebox .reccomendation{
    font-size: 14px;
    color:#575757;
    text-align: center;
    text-decoration: none;
}

.nicebox .AuthLog .phone{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
}

.nicebox2{
    display: flex;
    position:relative;
    max-width: 1000px;
    text-align: center;
    margin: auto;
    background: white;
    padding: 20px;
    border-radius: 30px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    outline: 2px solid rgb(255, 215, 0);
    outline-offset: -12px;
}

.nicebox2 .AsuransiInfo{
    flex: 1;
    text-align: left;
    max-width: 400px;
    margin-top: 5%;
}

.nicebox2 .AsuransiInfo a{
    padding-top: 10%;
    background: rgb(255, 215, 0);
    outline: 2px solid rgb(0, 0, 0);
    outline-offset: -4px;
    word-spacing: 5px;
    color: rgb(0, 0, 0);
    padding:5px 35px;
    text-align: center;
    font-family: "Italianno", cursive, bold;
    font-size: 25px;
    cursor: pointer;
    text-decoration: none;
    margin-left: 100px;
}

.nicebox2 .background{
    flex: 1;
    width: 50%;
    height: auto;
    object-fit: contain;
    border-radius: 15px;
}

.nicebox .AuthLog .MoneyLayout{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
}

.nicebox .checkoutBox{
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
    justify-content: center
}

.nicebox .checkoutBox .Prime{
    padding: 10px;
    min-width: 150px;
    text-align: center;
    border-radius: 5px;
    background-color: #f9f9f9;
    box-shadow: 0 2px 4px rgba(0,0,0,0.5);
    flex-direction: column;
    justify-content: center;
    align-items: center;
    line-height: 2; 
}